[Unit]
Description=Animation Programs JSON Service

[Service]
User=noyuno
ExecStart=/var/www/html/bin/anime-json

[Install]
WantedBy=multi-user.target
